<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">It Employee Tracker</a>
  <div class="nav-right">
    <a class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
    <a class="nav-item nav-link" [routerLink]="['/register']" routerLinkActive="active" *ngIf="!isLoggedIn">Register</a>
    <a class="nav-item nav-link" [routerLink]="['/profile']" routerLinkActive="active" *ngIf="isLoggedIn">Profile</a>
    <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active" *ngIf="isLoggedIn"
      (click)="logout()">Logout</a>
  </div>
</nav>